
#nav{
    background-color: rgb(64, 74, 77);
}
#text{
    position:absolute; 
    width: 40%;
    top: 30%;
    right: 100px; 
    z-index: 12;
}
.carousel .carousel-item {
    height: 600px;
  }
  
  .carousel-item img {
      position: absolute;
      object-fit: cover;
      top: 0;
      left: 0;
      min-height: 600px;
  }

  .carousel-item:after {
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0, 0, 0, 0.383);
  }
  .titulo{
    text-align: center;
    margin: 20px 0;
  }

  .titulo p{
    margin: 0;
  }

  #lugar{
    background-color: rgb(64, 74, 77);
    margin-top: 40px;
    display: flex;
  }

  .lugar{
    padding: 20px;
    border-left: solid white 0.5px;
    font-size: smaller;
  }

  #boton{
    font-size: smaller;
  }

  #subtitulo{
    font-size: smaller;
  }

#pie{
  background-color: rgb(49, 79, 105);
}

ul{
  align-items: center;
}

#pie li{
  padding: 0 30px;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.descuentos{
  display: flex;
  gap: 5px;
  padding-top: 15px;
}

#descuento{
  text-align: center;
  
}